<label class="app-test-select">
  <span class="app-test-select__label">
    {{label}}
    @if (required) {
      <span class="app-test-select__required">*</span>
    }
  </span>
  <select
    class="app-test-select__dropdown"
    [(ngModel)]="value"
    [disabled]="disabled"
    [required]="required"
  >
    @for (item of options; track item.value) {
      <option [value]="item.value">{{item.title}}</option>
    }
  </select>
  <div class="app-test-select__description">
    {{description}}
  </div>
</label>
